openapi: 3.2.0
info:
  title: Newforma Konekt Issue API
  description: '**Important:** API versioning is now optional. If no version is specified, the system defaults to using version 3 (`/v3`).'
  version: '3'
servers:
- url: https://api.bimtrackapp.co
security:
- Bearer: []
tags:
- name: Issue
paths:
  /v3/hubs/{hubId}/projects/{projectId}/archivedissues:
    get:
      tags:
      - Issue
      summary: Get archived issues
      operationId: GetArchivedIssues_V3
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: Query
        in: query
        schema:
          type: string
      - name: QueryExtendedSearch
        in: query
        schema:
          type: boolean
      - name: IncludeIssueAdditionalInfo
        in: query
        schema:
          type: boolean
      - name: Term
        in: query
        schema:
          type: string
      - name: Description
        in: query
        schema:
          type: string
      - name: AssignedToUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: AuthorUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: LastModificationAuthorUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: IssueGroups
        in: query
        schema:
          type: array
          items:
            type: string
      - name: PriorityIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ProjectPhaseIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ConfidentialityIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ProjectZoneIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: StatusIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: DisciplineIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: TypeIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: CreationDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: CreationDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: LastModificationDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: LastModificationDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: DueDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: DueDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: Visibility
        in: query
        schema:
          type: integer
          format: int32
      - name: CustomAttributes
        in: query
        schema:
          type: array
          items:
            type: string
      - name: IsUnlinked
        in: query
        schema:
          type: boolean
      - name: IssueIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ActivityOperationId
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          default: -Number
      - name: startRecord
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: returnCount
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      - name: assignedToUserId
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: priorityId
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: statusId
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=minimal:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
  /v3/hubs/{hubId}/projects/{projectId}/archivedissues/{issueId}:
    get:
      tags:
      - Issue
      summary: Get archived issue
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/xml:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            text/plain:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            text/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
      operationId: getV3HubsByHubIdProjectsByProjectIdArchivedissuesByIssueId
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/archivedissues/{archivedIssueId}:
    patch:
      tags:
      - Issue
      summary: Restore issue
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: archivedIssueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/xml:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          text/plain:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          text/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore'
      responses:
        '200':
          description: OK
      operationId: patchV3HubsByHubIdProjectsByProjectIdArchivedissuesByArchivedIssueId
      x-operation-id-source: derived
    delete:
      tags:
      - Issue
      summary: Delete archived issue
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: archivedIssueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      operationId: deleteV3HubsByHubIdProjectsByProjectIdArchivedissuesByArchivedIssueId
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/issues/{issueId}/attachments:
    get:
      tags:
      - Issue
      summary: Get issue attachments list
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json;odata.metadata=minimal:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json;odata.metadata=full:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json;odata.metadata=none:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail'
      operationId: getV3HubsByHubIdProjectsByProjectIdIssuesByIssueIdAttachments
      x-operation-id-source: derived
    post:
      tags:
      - Issue
      summary: Create issue attachment
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        required: true
      responses:
        '201':
          description: Created
      operationId: postV3HubsByHubIdProjectsByProjectIdIssuesByIssueIdAttachments
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/issues/{issueId}/attachments/{attachmentId}:
    delete:
      tags:
      - Issue
      summary: Delete issue attachment
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: attachmentId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      operationId: deleteV3HubsByHubIdProjectsByProjectIdIssuesByIssueIdAttachmentsByAttachmentId
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/issues/{issueId}/comments:
    get:
      tags:
      - Issue
      summary: Get issue comments
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=minimal:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=full:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=none:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
      operationId: getV3HubsByHubIdProjectsByProjectIdIssuesByIssueIdComments
      x-operation-id-source: derived
    post:
      tags:
      - Issue
      summary: Create issue comment
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          text/plain:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          text/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput'
      responses:
        '201':
          description: Created
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/xml:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            text/plain:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary'
      operationId: postV3HubsByHubIdProjectsByProjectIdIssuesByIssueIdComments
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/issues/{issueId}/comments/{issueCommentId}:
    delete:
      tags:
      - Issue
      summary: Delete issue comment
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueCommentId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      operationId: deleteV3HubsByHubIdProjectsByProjectIdIssuesByIssueIdCommentsByIssueCommentId
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/issues:
    get:
      tags:
      - Issue
      summary: Get issues
      operationId: GetIssues_V3
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: Query
        in: query
        schema:
          type: string
      - name: QueryExtendedSearch
        in: query
        schema:
          type: boolean
      - name: IncludeIssueAdditionalInfo
        in: query
        schema:
          type: boolean
      - name: Term
        in: query
        schema:
          type: string
      - name: Description
        in: query
        schema:
          type: string
      - name: AssignedToUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: AuthorUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: LastModificationAuthorUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: IssueGroups
        in: query
        schema:
          type: array
          items:
            type: string
      - name: PriorityIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ProjectPhaseIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ConfidentialityIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ProjectZoneIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: StatusIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: DisciplineIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: TypeIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: CreationDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: CreationDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: LastModificationDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: LastModificationDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: DueDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: DueDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: Visibility
        in: query
        schema:
          type: integer
          format: int32
      - name: CustomAttributes
        in: query
        schema:
          type: array
          items:
            type: string
      - name: IsUnlinked
        in: query
        schema:
          type: boolean
      - name: IssueIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ActivityOperationId
        in: query
        schema:
          type: string
      - name: additionalIncludes
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          default: -Number
      - name: startRecord
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: returnCount
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      - name: assignedToUserId
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: priorityId
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: statusId
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=minimal:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
    post:
      tags:
      - Issue
      summary: Create issue
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          text/plain:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          text/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryInput'
      responses:
        '201':
          description: Created
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/xml:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            text/plain:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
      operationId: postV3HubsByHubIdProjectsByProjectIdIssues
      x-operation-id-source: derived
    patch:
      tags:
      - Issue
      summary: Multi edit issues
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          text/plain:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          text/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AspNetCore.IssuesPatchInput'
      responses:
        '200':
          description: OK
      operationId: patchV3HubsByHubIdProjectsByProjectIdIssues
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/issues/search:
    get:
      tags:
      - Issue
      summary: Search issues with filters
      operationId: SearchIssues_V3
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: Query
        in: query
        schema:
          type: string
      - name: QueryExtendedSearch
        in: query
        schema:
          type: boolean
      - name: IncludeIssueAdditionalInfo
        in: query
        schema:
          type: boolean
      - name: Term
        in: query
        schema:
          type: string
      - name: Description
        in: query
        schema:
          type: string
      - name: AssignedToUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: AuthorUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: LastModificationAuthorUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: IssueGroups
        in: query
        schema:
          type: array
          items:
            type: string
      - name: PriorityIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ProjectPhaseIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ConfidentialityIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ProjectZoneIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: StatusIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: DisciplineIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: TypeIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: CreationDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: CreationDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: LastModificationDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: LastModificationDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: DueDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: DueDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: Visibility
        in: query
        schema:
          type: integer
          format: int32
      - name: CustomAttributes
        in: query
        schema:
          type: array
          items:
            type: string
      - name: IsUnlinked
        in: query
        schema:
          type: boolean
      - name: IssueIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ActivityOperationId
        in: query
        schema:
          type: string
      - name: additionalIncludes
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          default: -Number
      - name: startRecord
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: returnCount
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      - name: assignedToUserId
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: priorityId
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: statusId
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=minimal:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
  /v3/hubs/{hubId}/projects/{projectId}/issues/details:
    get:
      tags:
      - Issue
      summary: Get issues details
      operationId: GetIssuesDetails_V3
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: Query
        in: query
        schema:
          type: string
      - name: QueryExtendedSearch
        in: query
        schema:
          type: boolean
      - name: IncludeIssueAdditionalInfo
        in: query
        schema:
          type: boolean
      - name: Term
        in: query
        schema:
          type: string
      - name: Description
        in: query
        schema:
          type: string
      - name: AssignedToUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: AuthorUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: LastModificationAuthorUserIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: IssueGroups
        in: query
        schema:
          type: array
          items:
            type: string
      - name: PriorityIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ProjectPhaseIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ConfidentialityIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ProjectZoneIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: StatusIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: DisciplineIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: TypeIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: CreationDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: CreationDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: LastModificationDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: LastModificationDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: DueDateStart
        in: query
        schema:
          type: string
          format: date-time
      - name: DueDateEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: Visibility
        in: query
        schema:
          type: integer
          format: int32
      - name: CustomAttributes
        in: query
        schema:
          type: array
          items:
            type: string
      - name: IsUnlinked
        in: query
        schema:
          type: boolean
      - name: IssueIds
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: ActivityOperationId
        in: query
        schema:
          type: string
      - name: additionalIncludes
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          default: -Number
      - name: startRecord
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: returnCount
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.ProjectIssuesDetails'
  /v3/hubs/{hubId}/projects/{projectId}/issues/{issueId}:
    get:
      tags:
      - Issue
      summary: Get Issue
      operationId: GetIssue_V3
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/xml:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            text/plain:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
            text/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail'
    put:
      tags:
      - Issue
      summary: Update issue
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          text/plain:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummaryUpdateInput'
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/xml:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            text/plain:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueModificationSummary'
      operationId: putV3HubsByHubIdProjectsByProjectIdIssuesByIssueId
      x-operation-id-source: derived
    patch:
      tags:
      - Issue
      summary: Archive an issue
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/xml:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          text/plain:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          text/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchArchive'
      responses:
        '200':
          description: OK
      operationId: patchV3HubsByHubIdProjectsByProjectIdIssuesByIssueId
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/issues/multiple:
    get:
      tags:
      - Issue
      summary: Get multiple issues
      description: Fetch multiple issues by their unique identifiers with options for archived and viewpoint inclusion.
      operationId: GetMultiple
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: id
        in: query
        schema:
          maxItems: 100
          type: array
          items:
            type: integer
            format: int32
      - name: limitViewpointsToDefault
        in: query
        schema:
          type: boolean
          default: false
      - name: includeArchived
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=minimal:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.streaming=true:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.streaming=false:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
  /v3/hubs/{hubId}/projects/{projectId}/issues/number/{issueNumber}:
    get:
      tags:
      - Issue
      summary: Get issue by issue number
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueNumber
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/xml:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            text/plain:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary'
      operationId: getV3HubsByHubIdProjectsByProjectIdIssuesNumberByIssueNumber
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/issues/archiveissues:
    patch:
      tags:
      - Issue
      summary: Archive multiple issues
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/xml:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          text/plain:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          text/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssuePatchArchiveIssues'
      responses:
        '200':
          description: OK
      operationId: patchV3HubsByHubIdProjectsByProjectIdIssuesArchiveissues
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/issues/{issueId}/history:
    get:
      tags:
      - Issue
      summary: Get issue history
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: issueId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/xml:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            text/plain:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
            text/json:
              schema:
                $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueHistory'
      operationId: getV3HubsByHubIdProjectsByProjectIdIssuesByIssueIdHistory
      x-operation-id-source: derived
  /v3/hubs/{hubId}/projects/{projectId}/issues/viewpoints/batch:
    post:
      tags:
      - Issue
      summary: Get viewpoints for multiple issues
      parameters:
      - name: hubId
        in: path
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int32
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          text/plain:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          text/json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.Issue.IssueViewpointsBatchInput'
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ViewpointSummary'
[...]
