{
  "openapi": "3.0.4",
  "info": {
    "title": "Newforma Konekt API",
    "description": "<br><div>\r\n**Important:** API versioning is now optional. If no version is specified, the system defaults to using version 3 (`/v3`).\r\n</div><br>",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://api.bimtrackapp.co"
    }
  ],
  "paths": {
    "/v3/hubs/{hubId}": {
      "get": {
        "tags": [
          "Hub"
        ],
        "summary": "Get hub",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetailWithUserPermissions"
                }
              }
            }
          },
          "409": {
            "description": "The calling user must complete his profile before he can call this endpoint, by signing in once in the web platform.\n\nCode: USER_PROFILE_NOT_CREATED\n\nWebsiteLoginUrl: the URL to be used for signing in",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.UserProfileNotCreatedErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v3/hubs/name/{hubName}": {
      "get": {
        "tags": [
          "Hub"
        ],
        "summary": "Get a hub by name",
        "parameters": [
          {
            "name": "hubName",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v3/hubs": {
      "get": {
        "tags": [
          "Hub"
        ],
        "summary": "Get hubs",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.HubDetail"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/hubs/{hubId}/projecttemplates": {
      "get": {
        "tags": [
          "Hub"
        ],
        "summary": "Get project templates",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Hub"
        ],
        "summary": "Create project template",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.ProjectTemplateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v3.ProjectTemplateSummary"
                }
              }
            }
          }
        }
      }
    },
    "/v3/hubs/{hubId}/projecttemplates/{projectTemplateId}": {
      "delete": {
        "tags": [
          "Hub"
        ],
        "summary": "Delete project template",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectTemplateId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v3/hubs/{hubId}/users": {
      "get": {
        "tags": [
          "Hub"
        ],
        "summary": "Get hub users",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Hub"
        ],
        "summary": "Create hub user",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              }
            }
          }
        }
      }
    },
    "/v3/hubs/{hubId}/users/{userId}": {
      "put": {
        "tags": [
          "Hub"
        ],
        "summary": "Updates a user in the specified hub",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUserPut"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.HubUser"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Hub"
        ],
        "summary": "Delete hub user",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v3/hubs/{hubId}/projects/{projectId}/archivedissues": {
      "get": {
        "tags": [
          "Issue"
        ],
        "summary": "Get archived issues",
        "operationId": "GetArchivedIssues_V3",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QueryExtendedSearch",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IncludeIssueAdditionalInfo",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AssignedToUserIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "AuthorUserIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "LastModificationAuthorUserIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "IssueGroups",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "PriorityIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "ProjectPhaseIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "ConfidentialityIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "ProjectZoneIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "StatusIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "DisciplineIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "TypeIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "CreationDateStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreationDateEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LastModificationDateStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LastModificationDateEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DueDateStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DueDateEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Visibility",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CustomAttributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "IsUnlinked",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IssueIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "ActivityOperationId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "-Number"
            }
          },
          {
            "name": "startRecord",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "returnCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "assignedToUserId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "priorityId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "statusId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/hubs/{hubId}/projects/{projectId}/archivedissues/{issueId}": {
      "get": {
        "tags": [
          "Issue"
        ],
        "summary": "Get archived issue",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v3/hubs/{hubId}/projects/{projectId}/archivedissues/{archivedIssueId}": {
      "patch": {
        "tags": [
          "Issue"
        ],
        "summary": "Restore issue",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "archivedIssueId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssuePatchRestore"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Issue"
        ],
        "summary": "Delete archived issue",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "archivedIssueId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v3/hubs/{hubId}/projects/{projectId}/issues/{issueId}/attachments": {
      "get": {
        "tags": [
          "Issue"
        ],
        "summary": "Get issue attachments list",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.AttachmentWithThumbnail"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Issue"
        ],
        "summary": "Create issue attachment",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v3/hubs/{hubId}/projects/{projectId}/issues/{issueId}/attachments/{attachmentId}": {
      "delete": {
        "tags": [
          "Issue"
        ],
        "summary": "Delete issue attachment",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v3/hubs/{hubId}/projects/{projectId}/issues/{issueId}/comments": {
      "get": {
        "tags": [
          "Issue"
        ],
        "summary": "Get issue comments",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Issue"
        ],
        "summary": "Create issue comment",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.IssueCommentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BIMOne.BIMTrack.WebAPI.Models.Model.v2.CommentSummary"
                }
              }
            }
          }
        }
      }
    },
    "/v3/hubs/{hubId}/projects/{projectId}/issues/{issueId}/comments/{issueCommentId}": {
      "delete": {
        "tags": [
          "Issue"
        ],
        "summary": "Delete issue comment",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
[...]
